ul{
	color:red;
	}
h1{
	background-color:#171F85;
	color:white;
	font-size:135px;
	font-family:tahom;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	border-style:ridge;
	border-width:7px;
	border-color:#33CCD2 ;
	margin:0px 20px 0px 20px;
}
p{
	font-family:tahoma;
	font-weight:bold;
	font-style:italic;
	font-size:16px;  
}
body{
	background-image:url(ui/screen.png);
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-color:red;
}
